@page  
@model mikroprojket_gasolin.Pages.bandmedlemmerModel  
<link href="~/css/cardsmemberspage.css" rel="stylesheet" />  
@{  
   ViewData["Title"] = "Bandmedlemmer";  
} 
    <div class="container">
        @for (int i = 0; i < 5; i++)  
        {  
       // Card for each band member - "id="card-@i" is used to identify each card"
        <div class="card" id="card-@i" style="width: 16rem;">
            <div class="card__bg">
               <img src="/Pictures/@Model.Members[i].ImagePath" class="card-img-top" alt="...">  
               <div class="card-body">  
                   <h5 class="card-title">@Model.Members[i].Name</h5>  
                   <p class="card-text">@Model.Members[i].Text</p>  
               </div>  

               <div class="card__btn-body">  
                   <a href="@Model.Members[i].LinkPath" class="card__btn">READ MORE</a>  
               </div>  
           </div>
        </div>
        }
	</div>

@*     <div class="container_2">
        @for (int i = 2; i < 5; i++)  
         {  
           // Card for each band member - "id="card-@i" is used to identify each card"  
               <div class="card" id="card-@i" style="width: 16rem;">  
                   <img src="/Pictures/@Model.Members[i].ImagePath" class="card-img-top" alt="...">  
                   <div class="card-body">  
                       <h5 class="card-title">@Model.Members[i].Name</h5>  
                       <p class="card-text">@Model.Members[i].Text</p>  
                   </div>  

                   <div class="card__btn-body">  
                       <a href="@Model.Members[i].LinkPath" class="card__btn">READ MORE</a>  
                   </div>  
               </div>
         } 
    </div> *@